/*font-family: 'Istok Web', sans-serif;
font-family: 'Fredoka One', cursive;*/


html,body {
  height:100%;
  font-family: 'Istok Web', sans-serif;
}

body{
  background: url(/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.wrapper{
  height:100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  bottom-border: 100px solid red;
}


#app {
  font-family: sans-serif;
  height:100%;
}


.topbar {
  padding-left:20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 100px;
  background-color:black;
  color: white;
  -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.27);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    width: 100%;
    top: 0;
}

.logo {
  height: 100px;
  width: 300px;
}

.nav_links {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_links li{
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
  margin-right:20px;
}

.nav_links li:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.score {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.score_label {
  margin-right: 10px;
}

.timer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer h2 {
  padding: 10px;
  background-color:white;
  color: black;
  border-radius: 6px;
  font-size: 20px;
}
.content {
  display:flex;
  flex-direction: row;
  width:100%;
  max-width: 1000px;
  margin-top: 100px;
}
.targets {
  width: 25%;
  min-width: 150px;
}
.target {
  display:flex;
  justify-content: center;
  align-items: center;
  width:133px;
  height: 200px;
  border: 2px dashed black;
  margin: 10px auto;
  font-size: 48px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

#target1 {
  background:url(/assets/images/target_1_bg.png)
}

#target2 {
  background:url(/assets/images/target_2_bg.png)
}

#target3 {
  background:url(/assets/images/target_3_bg.png)
}
.board {
  width: 75%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.card_start {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 133px;;
  height: 200px;;
  border: 2px solid #000000;
  margin: 10px auto;
}

/* Timer --------------------*/

#progressBar{
  width:90%;
  margin: 10px auto;
  height: 24px;
  background-color: #000000;
  border: 1px solid white;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 24px;
  background-color: #7ebf44;
  box-sizing: border-box;
}



/*Card classes --------------------*/

.fork_red_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_red_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_red_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_red_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_red_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_red_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_red_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_blue_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_blue_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_blue_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_blue_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_blue_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_blue_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.fork_yellow_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/fork_yellow_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.spoon_yellow_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/spoon_yellow_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_outline_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_outline_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_outline_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_outline_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_outline_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_outline_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_solid_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_solid_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_solid_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_solid_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_solid_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_solid_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_gradient_1 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_gradient_1.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_gradient_2 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_gradient_2.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}

.knife_yellow_gradient_3 {
 width: 133px;
 height: 200px;
 background: url(/assets/images/knife_yellow_gradient_3.png);
 box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.80);
}
